n8n-workflows/02-create-booking.json
{
  "name": "Rodopi Dent - Create Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking",
        "options": {}
      },
      "id": "webhook-booking",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "booking-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Validate required fields\nconst required = ['patientName', 'patientPhone', 'date', 'time'];\nconst missing = required.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: `Missing required fields: ${missing.join(', ')}`\n    }\n  }];\n}\n\n// Validate phone format (Bulgarian)\nconst phoneRegex = /^\\+359[0-9]{9}$|^0[0-9]{9}$/;\nif (!phoneRegex.test(body.patientPhone.replace(/\\s/g, ''))) {\n  return [{\n    json: {\n      success: false,\n      error: 'Invalid phone number format'\n    }\n  }];\n}\n\n// Generate unique ID\nconst id = 'APT-' + Date.now().toString(36).toUpperCase();\n\n// Prepare appointment data\nconst appointment = {\n  ID: id,\n  Patient_Name: body.patientName,\n  Patient_Phone: body.patientPhone.replace(/\\s/g, ''),\n  Date: body.date,\n  Start_Time: body.time,\n  Duration_Minutes: body.duration || 60,\n  Status: 'pending',\n  Notes: body.notes || '',\n  Created_At: new Date().toISOString(),\n  Updated_At: new Date().toISOString(),\n  Google_Event_ID: ''\n};\n\nreturn [{ json: appointment }];"
      },
      "id": "validate-booking",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Patient_Name": "={{ $json.Patient_Name }}",
            "Patient_Phone": "={{ $json.Patient_Phone }}",
            "Date": "={{ $json.Date }}",
            "Start_Time": "={{ $json.Start_Time }}",
            "Duration_Minutes": "={{ $json.Duration_Minutes }}",
            "Status": "={{ $json.Status }}",
            "Notes": "={{ $json.Notes }}",
            "Created_At": "={{ $json.Created_At }}",
            "Updated_At": "={{ $json.Updated_At }}",
            "Google_Event_ID": "={{ $json.Google_Event_ID }}"
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "from": "Rodopi Dent",
        "to": "={{ $('Validate & Prepare').item.json.Patient_Phone }}",
        "message": "Здравейте {{ $('Validate & Prepare').item.json.Patient_Name }}!\n\nВашата заявка за час в Родопи Дент е получена:\n📅 Дата: {{ $('Validate & Prepare').item.json.Date }}\n⏰ Час: {{ $('Validate & Prepare').item.json.Start_Time }}\n\nЩе получите SMS потвърждение след одобрение.\n\nРодопи Дент"
      },
      "id": "twilio-sms",
      "name": "Send SMS Notification",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"appointmentId\": \"{{ $('Validate & Prepare').item.json.ID }}\",\n  \"message\": \"Booking request received\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets": {
      "main": [
        [
          {
            "node": "Send SMS Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Notification": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["rodopi-dent"]
}
