n8n-workflows/03-confirm-appointment.json
{
  "name": "Rodopi Dent - Confirm Appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment/confirm",
        "options": {}
      },
      "id": "webhook-confirm",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "confirm-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "options": {
          "range": "A:K"
        }
      },
      "id": "sheets-read",
      "name": "Get Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const appointmentId = $input.first().json.body?.appointmentId;\nconst appointments = $('Get Appointments').all();\n\n// Find the appointment\nconst appointment = appointments.find(a => a.json.ID === appointmentId);\n\nif (!appointment) {\n  return [{ json: { success: false, error: 'Appointment not found' } }];\n}\n\nconst apt = appointment.json;\n\n// Find row number (1-indexed, +1 for header)\nconst rowIndex = appointments.findIndex(a => a.json.ID === appointmentId) + 2;\n\nreturn [{\n  json: {\n    ...apt,\n    Status: 'confirmed',\n    Updated_At: new Date().toISOString(),\n    rowNumber: rowIndex\n  }\n}];"
      },
      "id": "find-appointment",
      "name": "Find & Update Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "confirmed",
            "Updated_At": "={{ $json.Updated_At }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "sheets-update",
      "name": "Update in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $('Find & Update Status').item.json.Date }}T{{ $('Find & Update Status').item.json.Start_Time }}:00",
        "end": "={{ $('Find & Update Status').item.json.Date }}T{{ DateTime.fromISO($('Find & Update Status').item.json.Date + 'T' + $('Find & Update Status').item.json.Start_Time).plus({ minutes: $('Find & Update Status').item.json.Duration_Minutes }).toFormat('HH:mm') }}:00",
        "additionalFields": {
          "summary": "🦷 {{ $('Find & Update Status').item.json.Patient_Name }}",
          "description": "Телефон: {{ $('Find & Update Status').item.json.Patient_Phone }}\nБележки: {{ $('Find & Update Status').item.json.Notes }}"
        }
      },
      "id": "google-calendar",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "from": "Rodopi Dent",
        "to": "={{ $('Find & Update Status').item.json.Patient_Phone }}",
        "message": "✅ Потвърден час в Родопи Дент\n\n📅 {{ $('Find & Update Status').item.json.Date }}\n⏰ {{ $('Find & Update Status').item.json.Start_Time }} ч.\n\nОчакваме ви!\nРодопи Дент"
      },
      "id": "twilio-sms",
      "name": "Send Confirmation SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Appointment confirmed\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments": {
      "main": [
        [
          {
            "node": "Find & Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find & Update Status": {
      "main": [
        [
          {
            "node": "Update in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update in Sheets": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Send Confirmation SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation SMS": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["rodopi-dent"]
}
