n8n-workflows/03-procedures-webhook.json
{
  "name": "Rodopi Dent - Procedures Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "procedures-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-procedures",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "procedures-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Procedures",
          "mode": "list",
          "cachedResultName": "Procedures"
        },
        "options": {}
      },
      "id": "sheets-procedures",
      "name": "Read Procedures",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [470, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const procedures = $('Read Procedures').all().map(item => ({\n  id: item.json.id,\n  name: item.json.name,\n  category: item.json.category,\n  duration: parseInt(item.json.duration) || 60,\n  price: parseFloat(item.json.price) || 0,\n  active: item.json.active === 'true' || item.json.active === true\n}));\n\nreturn {\n  success: true,\n  procedures: procedures.filter(p => p.active !== false)\n};"
      },
      "id": "code-procedures",
      "name": "Format Procedures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "respond-procedures",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Procedures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Procedures": {
      "main": [
        [
          {
            "node": "Format Procedures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Procedures": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
