n8n-workflows/04-confirm-webhook.json
{
  "name": "Rodopi Dent - Confirm/Update Appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirm-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-confirm",
      "name": "Webhook - Confirm",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "confirm-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "sheets-read",
      "name": "Read Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get request body\nconst body = $('Webhook - Confirm').first().json.body;\nconst appointmentId = body.appointmentId;\nconst newStatus = body.status;\nconst newDuration = body.duration; // Optional - only for confirmation\n\nif (!appointmentId || !newStatus) {\n  return [{\n    json: {\n      success: false,\n      error: 'appointmentId and status are required',\n      found: false\n    }\n  }];\n}\n\n// Valid statuses\nconst validStatuses = ['pending', 'confirmed', 'completed', 'cancelled', 'expired'];\nif (!validStatuses.includes(newStatus)) {\n  return [{\n    json: {\n      success: false,\n      error: `Invalid status. Must be one of: ${validStatuses.join(', ')}`,\n      found: false\n    }\n  }];\n}\n\n// Find the appointment\nconst appointments = $('Read Appointments').all();\nlet appointment = null;\n\nfor (const apt of appointments) {\n  if (apt.json.id === appointmentId) {\n    appointment = apt.json;\n    break;\n  }\n}\n\nif (!appointment) {\n  return [{\n    json: {\n      success: false,\n      error: 'Appointment not found',\n      found: false\n    }\n  }];\n}\n\n// Check for conflicts if confirming with a longer duration\nlet hasConflict = false;\nlet conflictWith = null;\n\nif (newStatus === 'confirmed' && newDuration) {\n  function timeToMinutes(time) {\n    const [hours, minutes] = time.split(':').map(Number);\n    return hours * 60 + minutes;\n  }\n  \n  const aptStart = timeToMinutes(appointment.startTime);\n  const aptEnd = aptStart + parseInt(newDuration);\n  \n  for (const other of appointments) {\n    if (other.json.id === appointment.id) continue;\n    if (other.json.date !== appointment.date) continue;\n    if (other.json.status === 'cancelled' || other.json.status === 'expired') continue;\n    \n    const otherStart = timeToMinutes(other.json.startTime);\n    const otherDuration = other.json.status === 'pending' ? 30 : (parseInt(other.json.duration) || 30);\n    const otherEnd = otherStart + otherDuration;\n    \n    if (aptStart < otherEnd && aptEnd > otherStart) {\n      hasConflict = true;\n      conflictWith = { time: other.json.startTime, name: other.json.patientName };\n      break;\n    }\n  }\n}\n\nif (hasConflict) {\n  return [{\n    json: {\n      success: false,\n      error: `Конфликт с ${conflictWith.name} в ${conflictWith.time}. Изберете по-кратка продължителност.`,\n      found: true,\n      conflict: true\n    }\n  }];\n}\n\n// Prepare update data\nconst updateData = {\n  id: appointmentId,\n  status: newStatus,\n  updatedAt: new Date().toISOString(),\n  patientName: appointment.patientName,\n  patientPhone: appointment.patientPhone,\n  date: appointment.date,\n  startTime: appointment.startTime,\n  oldStatus: appointment.status,\n  found: true,\n  success: true\n};\n\n// Add duration if confirming\nif (newStatus === 'confirmed' && newDuration) {\n  updateData.duration = parseInt(newDuration);\n}\n\nreturn [{ json: updateData }];"
      },
      "id": "code-find",
      "name": "Find and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-found",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "={{ $json.status }}",
            "duration": "={{ $json.duration }}",
            "updatedAt": "={{ $json.updatedAt }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "sheets-update",
      "name": "Update Appointment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, -100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Статусът е обновен\",\n  \"appointmentId\": \"{{ $('Find and Validate').item.json.id }}\",\n  \"oldStatus\": \"{{ $('Find and Validate').item.json.oldStatus }}\",\n  \"newStatus\": \"{{ $('Find and Validate').item.json.status }}\",\n  \"duration\": {{ $('Find and Validate').item.json.duration || 30 }}\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 100]
    },
    {
      "parameters": {
        "from": "",
        "to": "={{ $json.patientPhone }}",
        "message": "=Здравейте, {{ $json.patientName }}!\n\n{{ $json.status === 'confirmed' ? '✅ Вашият час е ПОТВЪРДЕН!' : $json.status === 'cancelled' ? '❌ Вашият час е отказан.' : $json.status === 'completed' ? '✅ Благодарим за посещението!' : '' }}\n\n📅 {{ $json.date }}\n🕐 {{ $json.startTime }}\n{{ $json.duration ? '⏱️ ' + $json.duration + ' минути' : '' }}\n\nРодопи Дент"
      },
      "id": "sms-notify",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1100, 0],
      "credentials": {
        "twilioApi": {
          "id": "",
          "name": "Twilio"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Confirm": {
      "main": [
        [
          {
            "node": "Read Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Appointments": {
      "main": [
        [
          {
            "node": "Find and Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find and Validate": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Update Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointment": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Rodopi Dent"
    }
  ]
}
