n8n-workflows/04-confirm-webhook.json
{
  "name": "Rodopi Dent - Confirm/Update Appointment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirm-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-confirm",
      "name": "Webhook - Confirm",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "confirm-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "sheets-read",
      "name": "Read Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get request body\nconst body = $('Webhook - Confirm').first().json.body;\nconst appointmentId = body.appointmentId;\nconst newStatus = body.status;\n\nif (!appointmentId || !newStatus) {\n  return [{\n    json: {\n      success: false,\n      error: 'appointmentId and status are required',\n      rowIndex: null\n    }\n  }];\n}\n\n// Valid statuses\nconst validStatuses = ['pending', 'confirmed', 'completed', 'cancelled'];\nif (!validStatuses.includes(newStatus)) {\n  return [{\n    json: {\n      success: false,\n      error: `Invalid status. Must be one of: ${validStatuses.join(', ')}`,\n      rowIndex: null\n    }\n  }];\n}\n\n// Find the appointment\nconst appointments = $('Read Appointments').all();\nlet rowIndex = null;\nlet appointment = null;\n\nfor (let i = 0; i < appointments.length; i++) {\n  if (appointments[i].json.id === appointmentId) {\n    rowIndex = i + 2; // +2 because: +1 for header row, +1 for 0-based index\n    appointment = appointments[i].json;\n    break;\n  }\n}\n\nif (!rowIndex) {\n  return [{\n    json: {\n      success: false,\n      error: 'Appointment not found',\n      rowIndex: null\n    }\n  }];\n}\n\n// Return row index for update\nreturn [{\n  json: {\n    success: true,\n    rowIndex: rowIndex,\n    appointmentId: appointmentId,\n    oldStatus: appointment.status,\n    newStatus: newStatus,\n    patientName: appointment.patientName,\n    patientPhone: appointment.patientPhone,\n    date: appointment.date,\n    startTime: appointment.startTime,\n    updatedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "code-find",
      "name": "Find Appointment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-found",
      "name": "Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.newStatus }}",
            "updatedAt": "={{ $json.updatedAt }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        },
        "dataMode": "autoMapInputData",
        "matchingColumns": ["id"]
      },
      "id": "sheets-update",
      "name": "Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, -100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Статусът е обновен\",\n  \"appointmentId\": \"{{ $('Find Appointment').item.json.appointmentId }}\",\n  \"oldStatus\": \"{{ $('Find Appointment').item.json.oldStatus }}\",\n  \"newStatus\": \"{{ $('Find Appointment').item.json.newStatus }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "response-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 100]
    }
  ],
  "connections": {
    "Webhook - Confirm": {
      "main": [
        [
          {
            "node": "Read Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Appointments": {
      "main": [
        [
          {
            "node": "Find Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Appointment": {
      "main": [
        [
          {
            "node": "Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found?": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Rodopi Dent"
    }
  ]
}
