n8n-workflows/04-get-appointments.json
{
  "name": "Rodopi Dent - Get Appointments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "appointments",
        "options": {}
      },
      "id": "webhook-get",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "appointments-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list"
        },
        "options": {
          "range": "A:K"
        }
      },
      "id": "sheets-read",
      "name": "Get All Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst appointments = $('Get All Appointments').all().map(a => a.json);\n\nlet filtered = appointments;\n\n// Filter by date\nif (query.date) {\n  filtered = filtered.filter(a => a.Date === query.date);\n}\n\n// Filter by date range\nif (query.startDate && query.endDate) {\n  filtered = filtered.filter(a => a.Date >= query.startDate && a.Date <= query.endDate);\n}\n\n// Filter by status\nif (query.status) {\n  filtered = filtered.filter(a => a.Status === query.status);\n}\n\n// Transform for frontend\nconst result = filtered.map(apt => ({\n  id: apt.ID,\n  patientName: apt.Patient_Name,\n  patientPhone: apt.Patient_Phone,\n  date: apt.Date,\n  startTime: apt.Start_Time,\n  duration: parseInt(apt.Duration_Minutes) || 60,\n  status: apt.Status,\n  notes: apt.Notes,\n  createdAt: apt.Created_At,\n  updatedAt: apt.Updated_At\n}));\n\nreturn [{\n  json: {\n    success: true,\n    appointments: result,\n    total: result.length\n  }\n}];"
      },
      "id": "filter-appointments",
      "name": "Filter & Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get All Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Appointments": {
      "main": [
        [
          {
            "node": "Filter & Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Transform": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["rodopi-dent"]
}
