n8n-workflows/04-settings-webhook.json
{
  "name": "Rodopi Dent - Settings Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "settings-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-settings",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "settings-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Settings",
          "mode": "list",
          "cachedResultName": "Settings"
        },
        "options": {}
      },
      "id": "sheets-settings",
      "name": "Read Settings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [470, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const settingsRows = $('Read Settings').all();\n\n// Convert rows to key-value object\nconst settings = {};\nsettingsRows.forEach(row => {\n  const key = row.json.key;\n  let value = row.json.value;\n  \n  // Try to parse JSON values\n  try {\n    value = JSON.parse(value);\n  } catch (e) {\n    // Keep as string\n  }\n  \n  settings[key] = value;\n});\n\n// Default settings if not found\nconst defaults = {\n  clinicName: 'Родопи Дент',\n  doctorName: 'Д-р',\n  phone: '+359 00 000 0000',\n  address: '',\n  workHours: {\n    MORNING_START: '09:00',\n    MORNING_END: '12:00',\n    AFTERNOON_START: '13:30',\n    AFTERNOON_END: '17:00'\n  },\n  slotDuration: 60,\n  workingDays: [1, 2, 3, 4, 5]\n};\n\nreturn {\n  success: true,\n  settings: { ...defaults, ...settings }\n};"
      },
      "id": "code-settings",
      "name": "Format Settings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "respond-settings",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Settings": {
      "main": [
        [
          {
            "node": "Format Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Settings": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
