n8n-workflows/05-appointments-webhook.json
{
  "name": "Rodopi Dent - Appointments Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "appointments-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-appointments",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "appointments-webhook"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "list",
          "cachedResultName": "Appointments"
        },
        "options": {}
      },
      "id": "sheets-appointments",
      "name": "Read Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [470, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const query = $('Webhook').first().json.query;\nconst filterDate = query.date;\nconst filterStatus = query.status;\n\nlet appointments = $('Read Appointments').all().map(item => ({\n  id: item.json.id,\n  patientName: item.json.patientName,\n  patientPhone: item.json.patientPhone,\n  date: item.json.date,\n  startTime: item.json.startTime,\n  duration: parseInt(item.json.duration) || 60,\n  reason: item.json.reason || '',\n  status: item.json.status || 'pending',\n  createdAt: item.json.createdAt\n}));\n\n// Filter by date if provided\nif (filterDate) {\n  appointments = appointments.filter(a => a.date === filterDate);\n}\n\n// Filter by status if provided\nif (filterStatus) {\n  appointments = appointments.filter(a => a.status === filterStatus);\n}\n\n// Sort by date and time\nappointments.sort((a, b) => {\n  if (a.date !== b.date) return a.date.localeCompare(b.date);\n  return a.startTime.localeCompare(b.startTime);\n});\n\nreturn {\n  success: true,\n  appointments: appointments,\n  total: appointments.length\n};"
      },
      "id": "code-appointments",
      "name": "Filter Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "id": "respond-appointments",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Appointments": {
      "main": [
        [
          {
            "node": "Filter Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Appointments": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
