n8n-workflows/06c-finance-update.json
{
  "name": "Rodopi Dent - Finance UPDATE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance-update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-finance-update",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "finance-update"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// Required: id of record to update\nif (!body.id) {\n  return [{\n    json: {\n      success: false,\n      error: 'Липсва ID на записа',\n      valid: false\n    }\n  }];\n}\n\n// Build update object with only provided fields\nconst updates = {};\n\nif (body.remainingPayment !== undefined) {\n  updates.remainingPayment = parseFloat(body.remainingPayment) || 0;\n}\n\nif (body.amount !== undefined) {\n  updates.amount = parseFloat(body.amount);\n}\n\nif (body.patientAmount !== undefined) {\n  updates.patientAmount = parseFloat(body.patientAmount);\n}\n\nif (body.description !== undefined) {\n  updates.description = body.description;\n}\n\nif (body.paymentMethod !== undefined) {\n  updates.paymentMethod = body.paymentMethod;\n}\n\nif (body.serviceCategory !== undefined) {\n  updates.serviceCategory = body.serviceCategory;\n}\n\nreturn [{\n  json: {\n    id: body.id,\n    updates: updates,\n    valid: true\n  }\n}];"
      },
      "id": "prepare-update",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Finances"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "find-record",
      "name": "Find Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, -50],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prepareNode = $('Prepare Update').first().json;\n\n// Check if record was found\nif (!input.id) {\n  return [{\n    json: {\n      success: false,\n      error: 'Записът не е намерен',\n      found: false\n    }\n  }];\n}\n\n// Merge existing record with updates\nconst updates = prepareNode.updates;\nconst merged = { ...input };\n\nObject.keys(updates).forEach(key => {\n  merged[key] = updates[key];\n});\n\nreturn [{\n  json: {\n    ...merged,\n    found: true\n  }\n}];"
      },
      "id": "merge-updates",
      "name": "Merge Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -50]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.found }}",
              "value2": true
            }
          ]
        }
      },
      "id": "record-found",
      "name": "Record Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -50]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Finances"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "remainingPayment": "={{ $json.remainingPayment }}",
            "amount": "={{ $json.amount }}",
            "patientAmount": "={{ $json.patientAmount }}",
            "description": "={{ $json.description }}",
            "paymentMethod": "={{ $json.paymentMethod }}",
            "serviceCategory": "={{ $json.serviceCategory }}"
          },
          "matchingColumns": ["id"]
        },
        "options": {}
      },
      "id": "update-record",
      "name": "Update Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, -100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Записът е обновен\",\n  \"id\": \"{{ $json.id }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || 'Записът не е намерен' }}\"\n}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-not-found",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 50]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 100]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Find Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Record": {
      "main": [
        [
          {
            "node": "Merge Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Updates": {
      "main": [
        [
          {
            "node": "Record Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Found?": {
      "main": [
        [
          {
            "node": "Update Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Rodopi Dent"
    }
  ]
}
