n8n-workflows/08-expire-pending.json
{
  "name": "Rodopi Dent - Expire Pending Appointments",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Read Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find pending appointments older than 2 hours\nconst appointments = $input.all();\nconst now = new Date();\nconst expirationHours = 2;\nconst expired = [];\n\nfor (const apt of appointments) {\n  if (apt.json.status !== 'pending') continue;\n  \n  const createdAt = new Date(apt.json.createdAt);\n  const hoursSinceCreation = (now - createdAt) / (1000 * 60 * 60);\n  \n  if (hoursSinceCreation >= expirationHours) {\n    expired.push({\n      json: {\n        id: apt.json.id,\n        patientName: apt.json.patientName,\n        patientPhone: apt.json.patientPhone,\n        date: apt.json.date,\n        startTime: apt.json.startTime,\n        duration: apt.json.duration,\n        reason: apt.json.reason || '',\n        status: 'expired',\n        createdAt: apt.json.createdAt,\n        updatedAt: now.toISOString()\n      }\n    });\n  }\n}\n\nif (expired.length === 0) {\n  return [{ json: { noExpired: true } }];\n}\n\nreturn expired;"
      },
      "id": "find-expired",
      "name": "Find Expired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-expired",
              "leftValue": "={{ $json.noExpired }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-expired",
      "name": "Has Expired?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["id"]
        },
        "options": {}
      },
      "id": "sheets-update",
      "name": "Update to Expired",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, -100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Read Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Appointments": {
      "main": [
        [
          {
            "node": "Find Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Expired": {
      "main": [
        [
          {
            "node": "Has Expired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Expired?": {
      "main": [
        [
          {
            "node": "Update to Expired",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Rodopi Dent"
    }
  ]
}
