n8n-workflows/10-telegram-callback.json
{
  "name": "Rodopi Dent - Telegram Callback Handler",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram API"
        }
      },
      "webhookId": "telegram-callback"
    },
    {
      "parameters": {
        "jsCode": "const callback = $input.first().json;\nconst callbackData = callback.callback_query.data;\nconst messageId = callback.callback_query.message.message_id;\nconst chatId = callback.callback_query.message.chat.id;\n\nlet action, duration, appointmentId;\n\nif (callbackData.startsWith('confirm_')) {\n  const parts = callbackData.split('_');\n  action = 'confirm';\n  duration = parseInt(parts[1]);\n  appointmentId = parts.slice(2).join('_');\n} else if (callbackData.startsWith('cancel_')) {\n  action = 'cancel';\n  duration = 0;\n  appointmentId = callbackData.replace('cancel_', '');\n} else {\n  return [{ json: { error: 'Unknown action', valid: false } }];\n}\n\nreturn [{\n  json: {\n    action: action,\n    duration: duration,\n    appointmentId: appointmentId,\n    messageId: messageId,\n    chatId: chatId,\n    valid: true\n  }\n}];"
      },
      "id": "parse-callback",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Get Appointments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Callback').first().json;\nconst appointments = $('Get Appointments').all();\n\nconst apt = appointments.find(a => a.json.id === parsed.appointmentId);\n\nif (!apt) {\n  return [{ json: { error: 'Записът не е намерен', valid: false, action: 'error', chatId: parsed.chatId } }];\n}\n\nif (apt.json.status !== 'pending') {\n  return [{ json: { error: 'Записът вече е обработен', valid: false, action: 'already_processed', chatId: parsed.chatId } }];\n}\n\nif (parsed.action === 'cancel') {\n  return [{\n    json: {\n      id: apt.json.id,\n      patientName: apt.json.patientName,\n      patientPhone: apt.json.patientPhone,\n      date: apt.json.date,\n      startTime: apt.json.startTime,\n      duration: apt.json.duration,\n      reason: apt.json.reason || '',\n      status: 'cancelled',\n      createdAt: apt.json.createdAt,\n      updatedAt: new Date().toISOString(),\n      action: 'cancel',\n      messageId: parsed.messageId,\n      chatId: parsed.chatId,\n      valid: true\n    }\n  }];\n}\n\nconst newDuration = parsed.duration;\n\nfunction timeToMinutes(time) {\n  const [hours, minutes] = time.split(':').map(Number);\n  return hours * 60 + minutes;\n}\n\nconst aptStart = timeToMinutes(apt.json.startTime);\nconst aptEnd = aptStart + newDuration;\n\nlet hasConflict = false;\nlet conflictWith = null;\n\nfor (const other of appointments) {\n  if (other.json.id === apt.json.id) continue;\n  if (other.json.date !== apt.json.date) continue;\n  if (other.json.status === 'cancelled' || other.json.status === 'expired') continue;\n  \n  const otherStart = timeToMinutes(other.json.startTime);\n  const otherDuration = other.json.status === 'pending' ? 30 : (parseInt(other.json.duration) || 30);\n  const otherEnd = otherStart + otherDuration;\n  \n  if (aptStart < otherEnd && aptEnd > otherStart) {\n    hasConflict = true;\n    conflictWith = { time: other.json.startTime, name: other.json.patientName };\n    break;\n  }\n}\n\nif (hasConflict) {\n  return [{\n    json: {\n      action: 'conflict',\n      conflictWith: conflictWith,\n      requestedDuration: newDuration,\n      patientName: apt.json.patientName,\n      messageId: parsed.messageId,\n      chatId: parsed.chatId,\n      valid: false\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    id: apt.json.id,\n    patientName: apt.json.patientName,\n    patientPhone: apt.json.patientPhone,\n    date: apt.json.date,\n    startTime: apt.json.startTime,\n    duration: String(newDuration),\n    reason: apt.json.reason || '',\n    status: 'confirmed',\n    createdAt: apt.json.createdAt,\n    updatedAt: new Date().toISOString(),\n    action: 'confirm',\n    newDuration: newDuration,\n    messageId: parsed.messageId,\n    chatId: parsed.chatId,\n    valid: true\n  }\n}];"
      },
      "id": "process-action",
      "name": "Process Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "confirm-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "confirm",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-confirm",
      "name": "Is Confirm?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cancel-check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "cancel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-cancel",
      "name": "Is Cancel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 150]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Google Sheets update (remove extra fields)\nconst data = $input.first().json;\nreturn [{\n  json: {\n    id: data.id,\n    patientName: data.patientName,\n    patientPhone: data.patientPhone,\n    date: data.date,\n    startTime: data.startTime,\n    duration: data.duration,\n    reason: data.reason,\n    status: data.status,\n    createdAt: data.createdAt,\n    updatedAt: data.updatedAt\n  }\n}];"
      },
      "id": "prepare-confirm",
      "name": "Prepare Confirm Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -200]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Google Sheets update (remove extra fields)\nconst data = $input.first().json;\nreturn [{\n  json: {\n    id: data.id,\n    patientName: data.patientName,\n    patientPhone: data.patientPhone,\n    date: data.date,\n    startTime: data.startTime,\n    duration: data.duration,\n    reason: data.reason,\n    status: data.status,\n    createdAt: data.createdAt,\n    updatedAt: data.updatedAt\n  }\n}];"
      },
      "id": "prepare-cancel",
      "name": "Prepare Cancel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["id"]
        },
        "options": {}
      },
      "id": "update-confirm",
      "name": "Update Confirmed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, -200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Appointments"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["id"]
        },
        "options": {}
      },
      "id": "update-cancel",
      "name": "Update Cancelled",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Process Action').item.json.chatId }}",
        "text": "=✅ *Потвърдено!*\n\n{{ $('Process Action').item.json.patientName }} - {{ $('Process Action').item.json.date }} в {{ $('Process Action').item.json.startTime }}\nПродължителност: {{ $('Process Action').item.json.newDuration }} мин.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-confirm-reply",
      "name": "Reply Confirmed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, -200],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Process Action').item.json.chatId }}",
        "text": "=❌ *Отказано!*\n\n{{ $('Process Action').item.json.patientName }} - {{ $('Process Action').item.json.date }} в {{ $('Process Action').item.json.startTime }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-cancel-reply",
      "name": "Reply Cancelled",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 100],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=⚠️ *Конфликт!*\n\nНе може да потвърдите {{ $json.requestedDuration }} мин., защото има конфликт с:\n{{ $json.conflictWith.name }} в {{ $json.conflictWith.time }}\n\nИзберете по-кратка продължителност.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-conflict-reply",
      "name": "Reply Conflict",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, -50],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Get Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments": {
      "main": [
        [
          {
            "node": "Process Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Action": {
      "main": [
        [
          {
            "node": "Is Confirm?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Cancel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Confirm?": {
      "main": [
        [
          {
            "node": "Prepare Confirm Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Conflict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Cancel?": {
      "main": [
        [
          {
            "node": "Prepare Cancel Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Confirm Data": {
      "main": [
        [
          {
            "node": "Update Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cancel Data": {
      "main": [
        [
          {
            "node": "Update Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Confirmed": {
      "main": [
        [
          {
            "node": "Reply Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cancelled": {
      "main": [
        [
          {
            "node": "Reply Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Rodopi Dent"
    }
  ]
}
