n8n-workflows/11-calendar-events.json
{
  "name": "Rodopi Dent - Calendar Get Events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "calendar-events",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "calendar-events"
    },
    {
      "parameters": {
        "jsCode": "// Parse query parameters\nconst query = $input.first().json.query;\n\n// Default to current week if no dates provided\nconst now = new Date();\nlet startDate, endDate;\n\nif (query.startDate && query.endDate) {\n  startDate = query.startDate;\n  endDate = query.endDate;\n} else if (query.view === 'day') {\n  const date = query.date || now.toISOString().split('T')[0];\n  startDate = date + 'T00:00:00+02:00';\n  endDate = date + 'T23:59:59+02:00';\n} else if (query.view === 'month') {\n  const year = query.year || now.getFullYear();\n  const month = query.month || now.getMonth();\n  const firstDay = new Date(year, month, 1);\n  const lastDay = new Date(year, month + 1, 0);\n  startDate = firstDay.toISOString();\n  endDate = lastDay.toISOString();\n} else {\n  // Default: week view\n  const day = now.getDay();\n  const diff = now.getDate() - day + (day === 0 ? -6 : 1); // Monday\n  const monday = new Date(now.setDate(diff));\n  monday.setHours(0, 0, 0, 0);\n  const sunday = new Date(monday);\n  sunday.setDate(monday.getDate() + 6);\n  sunday.setHours(23, 59, 59, 999);\n  startDate = monday.toISOString();\n  endDate = sunday.toISOString();\n}\n\nreturn [{\n  json: {\n    startDate: startDate,\n    endDate: endDate,\n    view: query.view || 'week'\n  }\n}];"
      },
      "id": "parse-params",
      "name": "Parse Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "rodopi.dent@gmail.com"
        },
        "returnAll": true,
        "options": {
          "timeMax": "={{ $json.endDate }}",
          "timeMin": "={{ $json.startDate }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "google-calendar",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [440, 0],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform calendar events to our format\nconst events = $input.all();\n\n// Map Google Calendar colorId (1-11) back to our color names\nconst colorIdToName = {\n  '10': 'green',    // Basil\n  '9': 'blue',      // Blueberry\n  '11': 'red',      // Tomato\n  '5': 'yellow',    // Banana\n  '3': 'purple',    // Grape\n  '6': 'orange',    // Tangerine\n  '4': 'pink',      // Flamingo\n  '8': 'gray'       // Graphite\n};\n\nconst transformed = events.map(item => {\n  const event = item.json;\n  \n  // Parse start/end times\n  const startDateTime = event.start?.dateTime || event.start?.date;\n  const endDateTime = event.end?.dateTime || event.end?.date;\n  \n  let startDate, startTime, endDate, endTime, isAllDay = false;\n  \n  if (event.start?.date) {\n    // All-day event\n    isAllDay = true;\n    startDate = event.start.date;\n    endDate = event.end.date;\n    startTime = '00:00';\n    endTime = '23:59';\n  } else {\n    // Timed event - extract time DIRECTLY from ISO string to preserve timezone\n    // Format: 2026-01-29T09:30:00+02:00\n    startDate = startDateTime.slice(0, 10); // \"2026-01-29\"\n    endDate = endDateTime.slice(0, 10);\n    startTime = startDateTime.slice(11, 16); // \"09:30\"\n    endTime = endDateTime.slice(11, 16);\n  }\n  \n  // Calculate duration in minutes\n  const durationMs = new Date(endDateTime) - new Date(startDateTime);\n  const duration = Math.round(durationMs / (1000 * 60));\n  \n  // Parse description for structured data\n  const description = event.description || '';\n  let phone = '';\n  let procedure = '';\n  \n  // Try to extract phone from description\n  const phoneMatch = description.match(/(?:тел|phone|📞)[:\\s]*([+\\d\\s-]+)/i);\n  if (phoneMatch) phone = phoneMatch[1].trim();\n  \n  // Try to extract procedure\n  const procMatch = description.match(/(?:процедура|procedure|🦷)[:\\s]*(.+?)(?:\\n|$)/i);\n  if (procMatch) procedure = procMatch[1].trim();\n  \n  // Map Google colorId to our color name - DEFAULT IS GREEN\n  const colorId = colorIdToName[event.colorId] || 'green';\n  \n  return {\n    json: {\n      id: event.id,\n      googleEventId: event.id,\n      title: event.summary || 'Без заглавие',\n      patientName: event.summary || '',\n      patientPhone: phone,\n      procedure: procedure,\n      description: description,\n      date: startDate,\n      startTime: startTime,\n      endTime: endTime,\n      endDate: endDate,\n      duration: duration,\n      isAllDay: isAllDay,\n      colorId: colorId,\n      status: event.status,\n      location: event.location || '',\n      htmlLink: event.htmlLink\n    }\n  };\n});\n\nreturn transformed;"
      },
      "id": "transform",
      "name": "Transform Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, events: $input.all().map(i => i.json), count: $input.all().length }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Parameters": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Transform Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Events": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Rodopi Dent"
    }
  ]
}
