n8n-workflows/12-calendar-create.json
{
  "name": "Rodopi Dent - Calendar Create Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-create",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "calendar-create"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate input\nconst body = $input.first().json.body;\n\n// Support both patientName and title for blocking\nconst eventTitle = body.title || body.patientName;\n\n// Required fields\nif (!eventTitle) {\n  throw new Error('Име на пациент или заглавие е задължително');\n}\nif (!body.date) {\n  throw new Error('Дата е задължителна');\n}\nif (!body.startTime) {\n  throw new Error('Начален час е задължителен');\n}\n\n// Calculate end time based on duration or endTime\nlet endTime;\nif (body.endTime) {\n  endTime = body.endTime;\n} else {\n  const duration = body.duration || 30; // Default 30 minutes\n  const [hours, minutes] = body.startTime.split(':').map(Number);\n  const startDate = new Date(`${body.date}T${body.startTime}:00`);\n  const endDate = new Date(startDate.getTime() + duration * 60 * 1000);\n  endTime = `${String(endDate.getHours()).padStart(2, '0')}:${String(endDate.getMinutes()).padStart(2, '0')}`;\n}\n\n// Build description with structured data\nlet description = '';\nif (body.patientPhone) {\n  description += `📞 Тел: ${body.patientPhone}\\n`;\n}\nif (body.procedure) {\n  description += `🦷 Процедура: ${body.procedure}\\n`;\n}\nif (body.notes) {\n  description += `📝 Бележки: ${body.notes}\\n`;\n}\n\n// Map color names to Google Calendar colorId (1-11)\nconst colorMap = {\n  'green': '10',    // Basil (green)\n  'blue': '9',      // Blueberry (blue)\n  'red': '11',      // Tomato (red)\n  'yellow': '5',    // Banana (yellow)\n  'purple': '3',    // Grape (purple)\n  'orange': '6',    // Tangerine (orange)\n  'pink': '4',      // Flamingo (pink)\n  'gray': '8'       // Graphite (gray)\n};\nconst googleColorId = colorMap[body.colorId] || '';\n\nreturn [{\n  json: {\n    summary: eventTitle,\n    description: description.trim(),\n    startDateTime: `${body.date}T${body.startTime}:00`,\n    endDateTime: `${body.date}T${endTime}:00`,\n    date: body.date,\n    duration: body.duration || 30,\n    patientName: body.patientName || eventTitle,\n    patientPhone: body.patientPhone || '',\n    procedure: body.procedure || '',\n    colorId: googleColorId\n  }\n}];"
      },
      "id": "prepare",
      "name": "Prepare Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "rodopi.dent@gmail.com"
        },
        "start": "={{ $json.startDateTime }}",
        "end": "={{ $json.endDateTime }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}",
          "description": "={{ $json.description }}",
          "sendUpdates": "all",
          "colorId": "={{ $json.colorId || '' }}"
        }
      },
      "id": "create-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [440, 0],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get created event details\nconst event = $input.first().json;\nconst prevData = $('Prepare Event Data').first().json;\n\nreturn [{\n  json: {\n    id: event.id,\n    googleEventId: event.id,\n    title: event.summary,\n    patientName: prevData.patientName,\n    patientPhone: prevData.patientPhone,\n    procedure: prevData.procedure,\n    date: prevData.date,\n    duration: prevData.duration,\n    status: event.status,\n    htmlLink: event.htmlLink,\n    created: event.created,\n    updated: event.updated\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Събитието е създадено успешно', event: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Event Data": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Rodopi Dent"
    }
  ]
}
