n8n-workflows/13-calendar-update.json
{
  "name": "Rodopi Dent - Calendar Update Event",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "calendar-update"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate input\nconst body = $input.first().json.body;\n\n// Required: event ID\nif (!body.eventId && !body.id && !body.googleEventId) {\n  throw new Error('ID на събитието е задължително');\n}\n\nconst eventId = body.eventId || body.id || body.googleEventId;\n\n// Map color names to Google Calendar colorId (1-11)\nconst colorMap = {\n  'green': '10',    // Basil (green)\n  'blue': '9',      // Blueberry (blue)\n  'red': '11',      // Tomato (red)\n  'yellow': '5',    // Banana (yellow)\n  'purple': '3',    // Grape (purple)\n  'orange': '6',    // Tangerine (orange)\n  'pink': '4',      // Flamingo (pink)\n  'gray': '8'       // Graphite (gray)\n};\n\n// Status labels\nconst statusLabels = { 'pending': 'Чакащ', 'confirmed': 'Потвърден', 'completed': 'Завършен' };\nconst statusVal = body.status || 'confirmed';\nconst statusLabel = statusLabels[statusVal] || 'Потвърден';\n\n// Build update fields\nconst updateFields = {};\n\n// If moving to new date/time\nif (body.date && body.startTime) {\n  const duration = body.duration || 30;\n  const [hours, minutes] = body.startTime.split(':').map(Number);\n  const startDate = new Date(`${body.date}T${body.startTime}:00`);\n  const endDate = new Date(startDate.getTime() + duration * 60 * 1000);\n  const endTime = body.endTime || `${String(endDate.getHours()).padStart(2, '0')}:${String(endDate.getMinutes()).padStart(2, '0')}`;\n  \n  updateFields.startDateTime = `${body.date}T${body.startTime}:00`;\n  updateFields.endDateTime = `${body.date}T${endTime}:00`;\n}\n\n// Update title/summary - handle ⏳ prefix based on status\nif (body.patientName) {\n  let name = body.patientName.replace(/^⏳\\s*/, ''); // strip existing prefix\n  updateFields.summary = statusVal === 'pending' ? '⏳ ' + name : name;\n}\n\n// Build description with status line\nif (body.description) {\n  // Direct full description - ensure status line is present\n  let desc = body.description.replace(/📋 Статус:.*\\n?/i, '');\n  desc = desc.trim() + '\\n📋 Статус: ' + statusLabel;\n  updateFields.description = desc.trim();\n} else {\n  // Build description from individual fields\n  let description = '';\n  if (body.patientPhone) {\n    description += `📞 Тел: ${body.patientPhone}\\n`;\n  }\n  if (body.procedure) {\n    description += `🦷 Процедура: ${body.procedure}\\n`;\n  }\n  description += `📋 Статус: ${statusLabel}\\n`;\n  if (body.notes) {\n    description += `📝 Бележки: ${body.notes}\\n`;\n  }\n  updateFields.description = description.trim();\n}\n\n// Status-based default colors: pending=yellow, completed=gray, confirmed=green\nconst statusColorDefaults = { 'pending': 'yellow', 'completed': 'gray', 'confirmed': 'green' };\nconst effectiveColor = body.colorId || statusColorDefaults[statusVal] || 'green';\nupdateFields.colorId = colorMap[effectiveColor] || colorMap['green'];\n\nreturn [{\n  json: {\n    eventId: eventId,\n    updateFields: updateFields,\n    status: statusVal,\n    originalData: body\n  }\n}];"
      },
      "id": "prepare",
      "name": "Prepare Update Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "rodopi.dent@gmail.com"
        },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "start": "={{ $json.updateFields.startDateTime }}",
          "end": "={{ $json.updateFields.endDateTime }}",
          "summary": "={{ $json.updateFields.summary }}",
          "description": "={{ $json.updateFields.description }}",
          "colorId": "={{ $json.updateFields.colorId || '' }}"
        }
      },
      "id": "update-event",
      "name": "Update Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [440, 0],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get updated event details\nconst event = $input.first().json;\nconst prevData = $('Prepare Update Data').first().json;\n\n// Helper function to convert to Europe/Sofia timezone\nfunction toSofiaTime(isoString) {\n  if (!isoString) return null;\n  const d = new Date(isoString);\n  const options = {\n    timeZone: 'Europe/Sofia',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  };\n  const formatter = new Intl.DateTimeFormat('en-CA', options);\n  const parts = formatter.formatToParts(d);\n  const getPart = (type) => parts.find(p => p.type === type)?.value || '00';\n  return {\n    date: `${getPart('year')}-${getPart('month')}-${getPart('day')}`,\n    time: `${getPart('hour')}:${getPart('minute')}`\n  };\n}\n\n// Parse times - CONVERT TO SOFIA TIMEZONE\nconst startDateTime = event.start?.dateTime || event.start?.date;\nconst endDateTime = event.end?.dateTime || event.end?.date;\nlet startDate, startTime, endTime;\n\nif (startDateTime) {\n  const startSofia = toSofiaTime(startDateTime);\n  const endSofia = toSofiaTime(endDateTime);\n  startDate = startSofia.date;\n  startTime = startSofia.time;\n  endTime = endSofia.time;\n}\n\nreturn [{\n  json: {\n    id: event.id,\n    googleEventId: event.id,\n    title: event.summary,\n    date: startDate,\n    startTime: startTime,\n    endTime: endTime,\n    description: event.description,\n    status: prevData.status || 'confirmed',\n    htmlLink: event.htmlLink,\n    updated: event.updated\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Събитието е обновено успешно', event: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Update Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data": {
      "main": [
        [
          {
            "node": "Update Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Event": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Rodopi Dent"
    }
  ]
}
