n8n-workflows/17-send-sms.json
{
  "name": "Rodopi Dent - Send SMS (Android)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-sms",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "16300702-1fc6-417f-858f-f42fceb4a6f0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1024,
        112
      ],
      "webhookId": "send-sms"
    },
    {
      "parameters": {
        "jsCode": "// Parse input\nconst body = $input.first().json.body;\n\nif (!body.phone || (!body.message && !body.template)) {\n  throw new Error('Phone and message/template are required');\n}\n\n// Normalize Bulgarian phone number\nlet phone = body.phone.replace(/\\s+/g, '').replace(/[^0-9+]/g, '');\n\n// Convert to international format\nif (phone.startsWith('0')) {\n  phone = '+359' + phone.substring(1);\n} else if (!phone.startsWith('+')) {\n  phone = '+359' + phone;\n}\n\n// SMS Templates (clean, no emojis or special chars)\nconst templates = {\n  'booking_received': 'Родопи Дент: Заявката ви за час на {date} в {time} е получена и чака одобрение. Ще получите SMS при потвърждение.',\n  'booking_confirmed': 'Родопи Дент: Часът ви е ПОТВЪРДЕН! {date} в {time}, {duration} мин. Очакваме ви!',\n  'booking_rejected': 'Родопи Дент: За съжаление не можем да потвърдим часа ви за {date} в {time}. Ще се свържем с вас по телефона за алтернативен час.',\n  'booking_conflict': 'Родопи Дент: Часът ви за {date} в {time} е отменен поради застъпване. Ще се свържем с вас за нов час.',\n  'booking_expired': 'Родопи Дент: Заявката ви за {date} в {time} изтече без потвърждение. Моля свържете се с нас за нов час.',\n  'reminder': 'Родопи Дент: Напомняне - имате час утре ({date}) в {time}. Очакваме ви!'\n};\n\n// Get template or use custom message\nlet message = body.message || '';\nif (body.template && templates[body.template]) {\n  message = templates[body.template];\n  \n  // Replace placeholders\n  if (body.date) message = message.replace(/{date}/g, body.date);\n  if (body.time) message = message.replace(/{time}/g, body.time);\n  if (body.duration) message = message.replace(/{duration}/g, body.duration);\n  if (body.patientName) message = message.replace(/{name}/g, body.patientName);\n}\n\n// Clean message for JSON compatibility\nconst safeMessage = message\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, ' ')  // Remove control characters\n  .replace(/\\s+/g, ' ')                            // Normalize whitespace\n  .trim();\n\nreturn [{\n  json: {\n    phone: phone,\n    message: safeMessage,\n    template: body.template || 'custom',\n    originalData: body\n  }\n}];"
      },
      "id": "a804a2f3-d890-4389-bf9c-6ed4e141c127",
      "name": "Prepare SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'SMS изпратен успешно', phone: $('Prepare SMS').item.json.phone, sid: $json.sid }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "684624de-7165-4771-9fbc-d5a143d22984",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'SMS не можа да бъде изпратен', details: $json }) }}",
        "options": {
          "responseCode": "500",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "56f34259-e712-4aad-b7dc-19043f54f1bc",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "38344a98-3397-4f97-ac13-c089aac7cb86",
      "name": "SMS Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fcm.googleapis.com/v1/projects/sms-sender-27028/messages:send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"token\": \"cdLIn7RwRYuNi7hvpHeUxU:APA91bEiNvE_SCHwrHE-O1nArEOf6Phpltza4HH3vxoRKr8bHlfX9nK_q_4r0xlC9YYvfGxZHNPL5X6uQ44H6dSqbTcwFYQ68ZLYh2G8JtOfpHLoWy7E4aI\",\n    \"data\": {\n      \"phone\": \"{{ $json.phone }}\",\n      \"message\": \"{{ $json.message }}\"\n    }\n  }\n}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "0fd313db-1503-4b77-a077-0c4cf74001a6",
      "name": "Send FCM1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        112
      ],
      "credentials": {
        "googleApi": {
          "id": "CzpmBZku5H7lKlEA",
          "name": "RODOPI_DENT_SMS"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SMS": {
      "main": [
        [
          {
            "node": "Send FCM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Sent?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send FCM1": {
      "main": [
        [
          {
            "node": "SMS Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2733c91-4193-49a2-aa11-2ff6c7e09769",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7204f8cf331ce45a25a617a4d887233056efe67a0537cd171194c6ba0ab4002"
  },
  "id": "aC2eyhdBZrJknp4c",
  "tags": [
    {
      "updatedAt": "2026-01-26T20:40:00.044Z",
      "createdAt": "2026-01-26T20:40:00.044Z",
      "id": "U4AUJ7Gip9wo0aTE",
      "name": "Rodopi Dent"
    }
  ]
}
