n8n-workflows/20-daily-backup.json
{
  "name": "20 - Daily Backup (22:00)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Day 22:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1hv4XAfHhScA40Bm1kQ3I-Ih4SJuCBpOJxTOYDNb167g",
          "mode": "id"
        },
        "options": {
          "name": "=Rodopi-Dent-Backup-{{ $now.format('yyyy-MM-dd') }}"
        }
      },
      "id": "copy-sheet",
      "name": "Copy Google Sheet",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [440, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "rodopi.dent@gmail.com",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.minus({months: 6}).toISO() }}",
          "timeMax": "={{ $now.plus({months: 6}).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "get-calendar-events",
      "name": "Get All Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [440, 400],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIALS_ID",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.stringify($input.all().map(item => item.json), null, 2) }}",
        "options": {}
      },
      "id": "format-json",
      "name": "Format as JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 400]
    },
    {
      "parameters": {
        "operation": "text",
        "name": "=calendar-backup-{{ $now.format('yyyy-MM-dd') }}.json",
        "binaryPropertyName": "calendarBackup",
        "options": {
          "mimeType": "application/json"
        }
      },
      "id": "create-file",
      "name": "Create JSON File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [880, 400]
    },
    {
      "parameters": {
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list"
        },
        "options": {
          "name": "=calendar-backup-{{ $now.format('yyyy-MM-dd') }}.json"
        }
      },
      "id": "upload-to-drive",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1100, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2146283697",
        "text": "=✅ **Ежедневен backup завършен**\n\n📊 Google Sheet: Rodopi-Dent-Backup-{{ $now.format('yyyy-MM-dd') }}\n📅 Календар: {{ $('Get All Calendar Events').all().length }} събития\n🕐 Час: {{ $now.format('HH:mm') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-telegram",
      "name": "Notify via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "chatId": "2146283697",
        "text": "=❌ **Backup ГРЕШКА**\n\n{{ $json.error || 'Неизвестна грешка' }}\n🕐 {{ $now.format('HH:mm') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-error",
      "name": "Notify Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 100],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [880, 200]
    }
  ],
  "connections": {
    "Every Day 22:00": {
      "main": [
        [
          {
            "node": "Copy Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Google Sheet": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Calendar Events": {
      "main": [
        [
          {
            "node": "Format as JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format as JSON": {
      "main": [
        [
          {
            "node": "Create JSON File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create JSON File": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Notify Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Sofia"
  },
  "staticData": null,
  "tags": [
    {
      "name": "backup"
    },
    {
      "name": "scheduled"
    }
  ],
  "pinData": {}
}
